In [152]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.4f}'.format

In [165]:
def read_and_clean_csv(csv):
    df = pd.read_csv(csv, low_memory=False)
    df = df[['street_nam', 'mgis_town', 'surfacetyp', 'surfacewid', 'assignedle', 'routesyste']]
    # converting assignedle to feet (currently in miles)
    df['assignedle_feet'] = df['assignedle'] * 5280
    df.drop('assignedle', axis=1, inplace=True)
    return df

df = read_and_clean_csv("C:/Users/User/Documents/ArcGIS/MASS_DOT_roads.csv")

def city_geometry(df, city_name):
    city_df = df[(df.mgis_town == city_name)]
    area = []
    for i in range(len(city_df)):
        if city_df.surfacewid.iloc[i] == 0:
            area.append(city_df.assignedle_feet.iloc[i])
        else:
            area.append(city_df.surfacewid.iloc[i] * city_df.assignedle_feet.iloc[i])

    area_series = pd.Series(area)
    city_df_copy = city_df.copy()
    city_df_copy['surface_area'] = area_series.values


    return city_df_copy


springfield = city_geometry(df, 'SPRINGFIELD')

In [166]:
springfield = springfield.loc[springfield['routesyste'] != "SR"]

In [167]:
springfield = springfield.loc[springfield['routesyste'] != "US"]

In [168]:
springfield = springfield.loc[springfield['routesyste'] != "I"]

In [174]:
springfield

,street_nam,mgis_town,surfacetyp,surfacewid,routesyste,assignedle_feet,surface_area
112004,TOM NEVERS ROAD,NANTUCKET,6,24,0,265.5840,6374.0160
112006,MADAKET ROAD,NANTUCKET,6,20,0,434.0160,8680.3200
112008,POLPIS ROAD,NANTUCKET,6,18,0,771.9360,13894.8480
112010,POLPIS ROAD,NANTUCKET,6,18,0,392.8320,7070.9760
112011,POLPIS ROAD,NANTUCKET,6,18,0,511.1040,9199.8720
112012,MADAKET ROAD,NANTUCKET,6,20,0,427.6800,8553.6000
112013,MADAKET ROAD,NANTUCKET,6,20,0,73.3920,1467.8400
112014,POLPIS ROAD,NANTUCKET,6,18,0,1218.6240,21935.2320
112015,BARTLETT ROAD,NANTUCKET,5,18,L,240.2400,4324.3200
112016,BARTLETT ROAD,NANTUCKET,5,18,L,412.3680,7422.6240
112017,SEA STREET,NANTUCKET,5,12,L,369.6000,4435.2000
112018,VESPER LANE,NANTUCKET,5,20,0,363.2640,7265.2800
112019,NORTH UNION STREET,NANTUCKET,5,16,L,109.8240,1757.1840
112020,NEW SOUTH ROAD,NANTUCKET,2,10,L,819.4560,8194.5600
112021,BAXTER ROAD,NANTUCKET,5,18,L,2773.0560,49915.0080
112022,SOUTH SHORE ROAD,NANTUCKET,2,10,L,276.1440,2761.4400
112023,BAYBERRY SIASCONSET LANE,NANTUCKET,2,8,L,1394.9760,11159.8080
112024,RUGGED ROAD,NANTUCKET,2,8,L,271.9200,2175.3600
112025,SOUTH SHORE ROAD,NANTUCKET,2,10,L,319.4400,3194.4000
112026,MILLBROOK ROAD,NANTUCKET,2,10,L,214.3680,2143.6800
112027,MILLBROOK ROAD,NANTUCKET,2,10,L,92.9280,929.2800
112028,SOUTH SHORE ROAD,NANTUCKET,2,10,L,494.7360,4947.3600
112029,MILLBROOK ROAD,NANTUCKET,2,10,L,1776.7200,17767.2000
112030,EEL POINT ROAD,NANTUCKET,6,10,L,668.9760,6689.7600
112031,EEL POINT ROAD,NANTUCKET,6,10,L,845.3280,8453.2800
112032,I STREET,NANTUCKET,2,12,L,182.1600,2185.9200
112033,SOUTH SHORE ROAD,NANTUCKET,2,10,L,155.2320,1552.3200
112034,SOUTH SHORE ROAD,NANTUCKET,2,10,L,234.9600,2349.6000
112035,EEL POINT ROAD,NANTUCKET,6,10,L,1456.2240,14562.2400
112036,TOM NEVERS ROAD,NANTUCKET,6,24,0,681.1200,16346.8800
...,...,...,...,...,...,...,...
479267,,NANTUCKET,0,0,L,1124.6400,1124.6400
480019,MANCHESTER CIRCLE,NANTUCKET,0,0,L,383.3280,383.3280
480020,CROWS NEST WAY,NANTUCKET,0,0,L,136.7520,136.7520
480021,LOWER YORK STREET,NANTUCKET,5,10,L,792.0000,7920.0000
480022,JAMES STREET,NANTUCKET,5,14,L,142.5600,1995.8400
480023,MILESTONE ROAD,NANTUCKET,6,18,0,225.9840,4067.7120
480024,GOSNOLD ROAD,NANTUCKET,2,10,L,1022.2080,10222.0800
480025,MIACOMET ROAD,NANTUCKET,2,8,L,156.8160,1254.5280
480027,B STREET,NANTUCKET,0,0,L,236.0160,236.0160
480028,SOMERSET ROAD,NANTUCKET,2,16,L,1119.3600,17909.7600
480029,,NANTUCKET,0,0,L,595.0560,595.0560
480030,NEW LANE,NANTUCKET,5,16,L,352.7040,5643.2640
480237,,NANTUCKET,0,0,L,383.3280,383.3280
480238,OLD SOUTH ROAD,NANTUCKET,6,21,0,918.1920,19282.0320
480239,SOUTH WATER STREET,NANTUCKET,5,30,L,30.0960,902.8800
480242,QUEQUEG DRIVE,NANTUCKET,0,0,L,182.1600,182.1600
480243,,NANTUCKET,0,0,L,287.7600,287.7600
480244,UPPER TAWPAWSHAW ROAD,NANTUCKET,0,0,L,444.5760,444.5760
480245,,NANTUCKET,0,0,L,897.6000,897.6000
480246,LYONS LANE,NANTUCKET,0,0,L,569.7120,569.7120
480247,,NANTUCKET,0,0,L,627.7920,627.7920
480248,,NANTUCKET,0,0,L,55.9680,55.9680
480249,,NANTUCKET,0,0,L,335.8080,335.8080
480250,ALLENS LANE,NANTUCKET,0,0,L,233.3760,233.3760
480251,TOPPING LIFT,NANTUCKET,0,0,L,261.3600,261.3600
480618,NUSSER ROAD,NANTUCKET,2,10,L,435.6000,4356.0000
480619,NORTH LIBERTY STREET,NANTUCKET,5,14,L,462.5280,6475.3920
480624,MCKINLEY AVENUE,NANTUCKET,5,20,L,151.5360,3030.7200
480625,MILESTONE ROAD,NANTUCKET,6,18,0,772.4640,13904.3520
480627,BAXTER ROAD,NANTUCKET,5,18,L,389.1360,7004.4480

In [169]:
total_area_feet = springfield['surface_area'].sum()

In [170]:
total_area_feet

12981543.168

In [161]:
# SurfaceType
# 0 = Unimproved, graded earth, or soil surface road
# 1 = Gravel or stone road
# 2 = Brick road
# 3 = Block road
# 4 = Surface-treated road --> asphalt
# 5 = Bituminous concrete road --> concrete
# 6 = Portland cement concrete road --> concrete
# 7 = Composite road; flexible over rigid --> asphalt
# 8 = Composite road; rigid over flexible or rigid over rigid ("white topping") --> asphalt

In [171]:
springfield.groupby(['surfacetyp'])['surfacetyp'].count()

surfacetyp
0    2037
1      56
2     404
3       1
5     648
6     659
7      16
8       7
Name: surfacetyp, dtype: int64

In [172]:
springfield_surface_types = springfield.groupby(['surfacetyp'])['surface_area'].sum().reset_index()

In [173]:
springfield_surface_types

   surfacetyp  surface_area
0           0  1213371.9840
1           1   585106.3680
2           2  2606484.6720
3           3     3801.6000
4           5  4148444.2560
5           6  4330265.8080
6           7    76538.8800
7           8    17529.6000

In [151]:
springfield_surface_types.loc[(springfield_surface_types['surfacetyp'] == 4) & (springfield_surface_types["surfacetyp"] == 7)]

Empty DataFrame
Columns: [surfacetyp, surface_area]
Index: []

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
Name: surfacetyp, dtype: bool

In [135]:
springfield_asphalt

   surfacetyp  surface_area
3         nan           nan
6         nan           nan

In [113]:
# import matplotlib.pyplot as plt
# x = springfield_surface_types[['surface_area']].plot(kind='bar', legend=True, fontsize=12)
# plt.show()